.topbar{
    height: 6vh;
    position: relative;
    display: flex;
    flex-basis: auto;
    align-items: center;
    background-color: #5dade2;
}
.topbar::before{
    display: table;
    content: " ";  
      
}
.topbarcontainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.topbar-contact>span{
    margin-left: 20px;
}
.topbar-contact>span>a{
    color:white;
    text-decoration: none;
}
.topbar-contact>span>i{
    margin-right:5px; 
    color:white;
    text-decoration: none;
}
.topbar-socials>a{
    margin:0px 1.5vw;
    color:white;    
}
.logobar{
    position: relative;
    display:flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
    height: 15vh;   
}
.logobar>div{
    display:flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;   
}
.logobar-title>span>a{
    color:black;
    text-decoration: none;
    font-size: 2.3vw;
    margin-left:20px;
    letter-spacing: 2px;   
}
.logobar-logo>img{
    height:80;
    width:90;
}
@media (min-width: 768px){
    .navbar-expand-md>.navbar-collapse>ul {
        width:100%;
        justify-content: space-between;
    }
}

@media (max-width: 768px){
    .navbar-expand-md {
     padding: 0px 20px;
    }
}

div{
    display: block;
}
.protab{
    height:60%;
    margin-top:15px; 

}

.protab>.row{
    height: 100%;
}
.profiles{
    height: 100%;
    display: flex;
    flex-direction:column;
    position: relative;
    align-items: center; 
    margin:20px 0px;
}
.circler{
    height: 60%;
    width:100%;
    display: flex;
    flex-direction:column;
    position: relative;
    align-items: center;
}
.fill{
    height:200px;
    width: 200px;
    border: 1px solid black;
    border-radius:50%;
}
.box{
    height: 40%;
    width: 100%;
    border: 1px solid ;
    background-color: #152851;
    color:white;
}
.box>ul{
    display:flex;
    flex-direction: column;
    padding-top: 15px; 
    
}
.box:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    padding:6px;
    background-color: #152851;
    transform: translate(-50%,-50%)  rotate(45deg);

}